/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype"),
    url("/assets/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #202020;
}

body {
  background-color: rgba(240, 244, 248, 1);
  /* word-wrap: break-word;
  overflow-wrap: break-word; */
}

.header {
  position: fixed;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 88px;
  z-index: 100;
  background-color: #fff;
}
.header .header-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1440px;
  margin: 0 64px;
}
.header .logo a {
  display: flex;
}
.header .logo img {
  width: 110px;
  margin-right: 15px;
}
.header .menu {
  display: flex;
}

#nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.header #nav .menu {
  gap: 0.9em;
  font-size: 1em;
}
.header #nav .menu a {
  color: #202020;
  display: block;
  padding: 0.5em;
}
.header #nav .menu a:hover {
  color: #fe3e6d;
}

.header .btn-login {
  display: flex;
  flex-flow: row wrap;
  width: fit-content;
}
.header .btn-login ul {
  display: flex;
  align-items: center;
  gap: 1.2em;
}

.header .btn-login a {
  color: #202020;
}

.header .btn-login ul li span {
  height: 48px;
  padding: 12px 32px;
}

.header #btn-mobile {
  display: none;
}

@media (max-width: 1130px) {
  .header #btn-mobile {
    display: block;
  }
  #nav .menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 88px;
    right: 0;
    height: 0;
    background-color: #fdfdfd;
    z-index: 1000;
    transition: 0.5s all;
    visibility: hidden;
    overflow-y: auto;
  }
  #nav.active .menu {
    height: calc(100vh - 88px);
    visibility: visible;
  }
  #nav .menu a {
    padding: 1rem 0;
    margin: 0 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  }
  #nav .menu a:hover {
    color: #fe3e6d;
  }
  #btn-mobile {
    display: flex;
    padding: 0.5em 1em;
    font-size: 1em;
    cursor: pointer;
    background: none;
    border: none;
  }
  #hamburger {
    width: 20px;
    border-top: 2px solid;
    gap: 0.5em;
    display: block;
  }
  #hamburger::after,
  #hamburger::before {
    content: "";
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: 0.3s;
    position: relative;
  }
  #nav.active #hamburger {
    border-top-color: transparent;
  }
  #nav.active #hamburger::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
    position: relative;
  }
}

/*== header =====*/
/* header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 88px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #fff;
}
.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  margin: 0 64px;
}
.header-content .topo-col-1,
.topo-col-2 {
  display: flex;
  flex-flow: row wrap;
}
.header-content .topo-col-1 .logo {
  width: 110px;
}
.header-content .topo-col-1 .logo a {
  display: flex;
}

.header-content .topo-col-1 ul,
.topo-col-2 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  align-content: center;
}

.header-content .topo-col-1 .nav-topo {
  display: flex;
}

.header-content .topo-col-1 .nav-topo ul li,
.topo-col-2 ul li {
  list-style: none;
  margin: 0 15px;
  display: flex;
  align-items: center;
}
.header-content .topo-col-1 ul li a,
.topo-col-2 ul li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  color: #202020;
  margin: 0;
  padding: 0;
}
.header-content .topo-col-1 ul li a:hover,
.topo-col-2 ul li a:hover {
  color: rgb(254, 62, 109);
  transition: 0.3s all;
}
.header-content .topo-col-2 ul li span {
  height: 48px;
  padding: 12px 32px;
} */

/*====== hero ======*/
.hero {
  padding-top: 88px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.hero .hero-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  min-height: 687px;
}

.hero .action-register {
  display: flex;
  flex-flow: column nowrap;
  max-width: 432px;
  margin-left: 170px;
}
.hero .action-register h1 {
  font-size: 4.5em;
  line-height: 80px;
  font-weight: 400;
}

.hero .action-register span {
  display: flex;
  align-items: center;
  max-width: 226px;
  height: 64px;
  font-size: 1.37em;
  margin-top: 50px;
}

.hero .img-hero {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.hero .img-hero img {
  width: 700px;
}


/*===== info action =====*/

.info-action {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 428px;
}

.text-info {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.text-info .action-description {
  margin-left: 175px;
  margin-right: 175px;
  width: 645px;
}

.text-info .action-description h2 {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 40px;
}
.text-info .action-description p {
  font-size: 1.375em;
  line-height: 32px;
  font-weight: 800;
  color: #fe3e6d;
}

.text-info .logo-medio-cora {
  margin-right: 174px;
  display: flex;
}

/*===== Question Coras =====*/
.question-cora {
  background-image: url(/assets/img/backgroud-action1.svg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 658px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-cora .question-content {
  max-width: 1440px;
  width: 100%;
  margin-left: 175px;
}
.question-cora h2 {
  font-size: 4.5em;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 25px;
}
.question-cora p {
  font-size: 2.5em;
  color: #fff;
  font-weight: 400;
}

/*===== products cora =====*/
.products-cora {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-cora .products-content {
  width: 1440px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 671px;
  justify-content: center;
  margin: 56px 0;
}
.products-cora .products-content .products-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 112px 0;
}
.products-cora .products-content .products-description img {
  width: 533px;
}
.products-cora .products-content .products-description div {
  display: flex;
  flex-flow: column nowrap;
  width: 532px;
}
.products-cora .products-content .products-description div h2 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
}
.products-cora .products-content .products-description div p {
  font-size: 1.375em;
  font-weight: 400;
  line-height: 32px;
  color: #6b7076;
}

/*=== configuracao footer ===*/
footer {
  width: 100%;
  min-height: 654px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.footer-content {
  width: 100%;
  padding: 10px;
  max-width: 1440px;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.footer-content .footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.footer-content .footer-links div {
  display: flex;
  width: 100%;
  margin: 10px 30px;
  max-width: 260px;
  flex-flow: column nowrap;
  min-width: 180px;
  margin-bottom: 15px;
}
.footer-content .footer-links h2 {
  font-size: 1.37em;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}
.footer-content .footer-links p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.footer-content .footer-links p span:hover {
  border-bottom: 1px solid #fff;
}
.footer-content .footer-links .btn-app {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
footer .btn-app a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7cbcf;
  border-radius: 8px;
  padding: 10px 15px;
  width: 150px;
  margin: 5px 0;
  color: #c7cbcf;
}
footer .btn-app a img {
  margin-right: 10px;
}

.footer-copy {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.copy-content {
  padding: 10px 0;
  width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
}
.copy-content span {
  font-weight: 800;
  color: rgb(254, 81, 123);
}
.copy-content .footer-midias img {
  margin-left: 15px;
}

/*=== configuracao itens gerais ===*/

.btn-rosa {
  background-color: rgb(254, 81, 123);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: 800;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: none;
}
.btn-rosa:hover {
  background-color: rgb(243, 55, 102);
}
.ml-175 {
  margin-left: 175px;
}
.mr-64 {
  margin-right: 64px;
}

/*===== media query =====*/
@media (max-width: 700px) {
  .header .btn-login {
    display: none;
  }

  .hero .hero-content {
    justify-content: center;
    margin-top: 5%;
    padding: 10px;
  }
  .hero .hero-content .action-register {
    margin: 15px 0;
    flex-flow: column nowrap;
    align-content: center;
  }
  .hero .hero-content .action-register h1 {
    font-size: 3em;
    line-height: 1.2em;
    text-align: center;
  }
  .hero .hero-content .action-register span {
    max-width: 100%;
  }
  .hero .hero-content .img-hero img {
    width: 80%;
  }

  .info-action {
    padding: 10px;
    height: max-content !important;
    margin: 50px 0;
  }
  .info-action .text-info {
    display: flex;
    flex-flow: column nowrap;
  }

  .info-action .text-info .action-description {
    margin: 15px 0;
    width: auto;
    line-height: 1.1em;
    text-align: center;
  }
  .info-action .text-info .action-description h2{
    font-size: 1.5em;
    line-height: 1.3em;
    margin-bottom: 10px;
  }
  .info-action .text-info .action-description p {
    font-size: 1.1em;
  }
  .info-action .text-info .logo-medio-cora {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .info-action .text-info .logo-medio-cora img {
    width: 20%;
    max-width: 80px;
  }

  .question-cora {
    padding: 10px;
    height: 300px !important;
  }
  .question-cora .question-content {
    display: flex;
    flex-flow: column nowrap;
    margin: 0 !important;
    align-items: center;
  }
  .question-cora .question-content h2 {
    margin: 0;
    font-size: 2em;
  }

  .products-cora {
    padding: 10px;
  }
  .products-cora .products-content {
    margin: 0 !important;
    display: flex;
    flex-flow: column nowrap;
  }
  .products-cora .products-description {
    margin: 20px 0!important;
  }
  .products-cora .products-description div {
    margin: 0;
    width: 100% !important;
    text-align: center;
  }
  .products-cora .products-description div h2 {
    margin: 0;
    width: 100%;
    font-size: 1.8em !important;
    line-height: 1.3em !important;
  }
  .products-cora .products-description div p{
    font-size: 1em !important;
    line-height: 1.5em !important;
  }
  .products-cora .products-content .products-description img {
    display: none;
  }
  .products-cora .products-content .products-description .mb-img {
    margin-top: 15px;
    background-image: url(/assets/img/product-cora-3.svg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 200px;
  }


  .footer-content .footer-links {
    justify-content: center !important;
  }
  .footer-content .footer-links div{
    margin: 0 !important;
    align-items: center;
    margin-bottom: 25px !important;
  }

  .footer-copy{
    text-align: center;
    padding: 10px;
  }
  .footer-copy .footer-midias{
    margin-top: 10px;
  }
}