/* @import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap"); */

@font-face {
  font-family: "Nunito";
  src: url("/assets/fonts/Nunito-VariableFont_wght.ttf") format("truetype"),
    url("/assets/fonts/Nunito-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: normal;
}
* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}
ul,
nav {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  font-style: normal;
  font-size: 1em;
  color: #202020;
}

body {
  background-color: rgba(240, 244, 248, 1);
}
/*== header =====*/
header {
  position: fixed;
  overflow: hidden;
  width: 100%;
  height: 88px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  background-color: #fff;
}
.header-content {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  width: 100%;
}
.header-content .topo-col-1,
.topo-col-2 {
  display: flex;
  flex-flow: row wrap;
}
.header-content .topo-col-1 .logo {
  width: 110px;
}
.header-content .topo-col-1 ul,
.topo-col-2 ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.header-content .topo-col-1 ul li,
.topo-col-2 ul li {
  list-style: none;
  margin: 0 15px;
}
.header-content .topo-col-1 ul li a,
.topo-col-2 ul li a {
  cursor: pointer;
  text-decoration: none;
  font-size: 1em;
  color: #202020;
}
.header-content .topo-col-1 ul li a:hover,
.topo-col-2 ul li a:hover {
  color: rgb(254, 62, 109);
  transition: 0.3s all;
}
.header-content .topo-col-2 ul li span {
  height: 48px;
  padding: 12px 32px;
}

/*====== hero ======*/
.hero {
  padding-top: 88px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.hero .hero-content {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-content: center;
  min-height: 687px;
}

.hero .action-register {
  display: flex;
  flex-flow: column nowrap;
  max-width: 432px;
  margin-left: 170px;
}
.hero .action-register h1 {
  font-size: 4.5em;
  line-height: 80px;
  font-weight: 400;
}

.hero .action-register span {
  display: flex;
  align-items: center;
  max-width: 226px;
  height: 64px;
  font-size: 1.37em;
  margin-top: 50px;
}

.hero .img-hero {
  background-image: url(/assets/img/figure-01.png);
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 500px;
  height: max-content;
  height: auto;
  background-repeat: no-repeat;
}

/*===== info action =====*/

.info-action {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 428px;
}

.text-info {
  max-width: 1440px;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.text-info .action-description {
  margin-left: 175px;
  margin-right: 175px;
  width: 645px;
}

.text-info .action-description h2 {
  font-size: 2.25em;
  font-weight: 400;
  line-height: 48px;
  margin-bottom: 40px;
}
.text-info .action-description p {
  font-size: 1.375em;
  line-height: 32px;
  font-weight: 800;
  color: #fe3e6d;
}

.text-info .logo-medio-cora {
  margin-right: 174px;
  display: flex;
}

/*===== Question Coras =====*/
.question-cora {
  background-image: url(/assets/img/backgroud-action1.svg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 658px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}

.question-cora .question-content {
  max-width: 1440px;
  width: 100%;
}
.question-cora h2 {
  font-size: 4.5em;
  color: #fff;
  margin-bottom: 24px;
  margin-top: 25px;
}
.question-cora p {
  font-size: 2.5em;
  color: #fff;
  font-weight: 400;
}

/*===== products cora =====*/
.products-cora {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.products-cora .products-content {
  width: 1440px;
  display: flex;
  flex-flow: column nowrap;
  min-height: 671px;
  justify-content: center;
  margin: 56px 0;
}
.products-cora .products-content .products-description {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin: 112px 0;
}
.products-cora .products-content .products-description img {
  width: 533px;
}
.products-cora .products-content .products-description div {
  display: flex;
  flex-flow: column nowrap;
  width: 532px;
}
.products-cora .products-content .products-description div h2 {
  font-size: 2.5em;
  font-weight: 400;
  line-height: 56px;
  margin-bottom: 24px;
}
.products-cora .products-content .products-description div p {
  font-size: 1.375em;
  font-weight: 400;
  line-height: 32px;
  color: #6B7076;
}

/*=== configuracao footer ===*/
footer {
  width: 100%;
  min-height: 654px;
  background-color: #202020;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row nowrap;
}

.footer-content {
  width: 100%;
  padding: 10px;
  max-width: 1440px;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
}

.footer-content .footer-links {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  width: 100%;
}
.footer-content .footer-links div {
  display: flex;
  width: 100%;
  margin: 10px 30px;
  max-width: 260px;
  flex-flow: column nowrap;
  min-width: 180px;
  margin-bottom: 15px;
}
.footer-content .footer-links h2 {
  font-size: 1.37em;
  font-weight: 800;
  color: #fff;
  margin-bottom: 15px;
}
.footer-content .footer-links p {
  font-size: 1em;
  font-weight: 400;
  color: #fff;
  cursor: pointer;
  margin-bottom: 10px;
}
.footer-content .footer-links p span:hover {
  border-bottom: 1px solid #fff;
}
.footer-content .footer-links .btn-app {
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
footer .btn-app a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
  border: 1px solid #c7cbcf;
  border-radius: 8px;
  padding: 10px 15px;
  width: 150px;
  margin: 5px 0;
  color: #c7cbcf;
}
footer .btn-app a img {
  margin-right: 10px;
}

.footer-copy {
  background-color: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
}
.copy-content {
  padding: 10px 0;
  width: 1440px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 0.9em;
}
.copy-content span {
  font-weight: 800;
  color: rgb(254, 81, 123);
}
.copy-content .footer-midias img {
  margin-left: 15px;
}

/*=== configuracao itens gerais ===*/

.btn-rosa {
  background-color: rgb(254, 81, 123);
  border: none;
  color: rgb(255, 255, 255);
  border-radius: 30px;
  font-weight: 800;
  width: 100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out 0s;
  text-align: center;
  -webkit-box-pack: center;
  justify-content: center;
  box-shadow: none;
}
.btn-rosa:hover {
  background-color: rgb(243, 55, 102);
}
.ml-175{
  margin-left: 175px;
}
.mr-64{
  margin-right: 64px;
}
